.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #0e1726;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2c3546;
    border-radius: 10px;
    border: 2px solid #0e1726;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3c4656;
}

.chat-app-container {
    opacity: 0;
    transition: opacity 2s ease; /* no transform here */
}
.chat-app-container.loaded {
    opacity: 1;
}

/* Keyframes for animating individual messages */
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-slide-in {
    animation: fadeSlideIn 0.4s ease forwards;
}
